@import '../../lib/px2rem.scss';

// 用的多的公共样式颜色文字提取到此文件
$act-color: #10903d;
$text-color-imp: #000;
$text-color:#757575;
$src-bg:#fafafa;

// 字体大小公共文件
$text-size-imp:px2rem(36); //最大的
$text-size-mid:px2rem(28); // 普通的
$text-size:px2rem(24);
$text-size-small:px2rem(22);

// 高度公共变量
$th:px2rem(120); // 顶部高度